<h1>Su carrito:</h1>
<p hidden id="cid">{{cid}}</p>

<table class="tableStyle">
    <tr class="tableRowStyle">
        <th>Nombre</th>
        <th>Descripción</th>
        <th>Código</th>
        <th>Imagen</th>
        <th>Precio</th>
        <th>Cantidad</th>
    </tr>
        {{#each populatedProducts}}
    <tr class="tableRowStyle" id="productRow{{_id}}">
            <td>{{title}}</td>
            <td>{{description}}</td>
            <td>{{code}}</td>
            <td>{{thumbnail}}</td>
            <td>{{price}}</td>
            <td>{{quantity}}</td>
    </tr>
        {{/each}}
</table>

<script src="/js/cart.js"></script>
