<h1>Productos:</h1>
<h2 id="firstName">Cliente: {{firstName}}!</h2>
<form method="POST" action="/api/carts/{{cid}}/purchase">
                <button type="submit">Finalizar compra</button>
            </form>
<button onclick="location.href='/api/sessions/logout'">Cerrar sesión</button>

<table class="tableStyle">
    <tr class="tableRowStyle">
        <th>Nombre</th>
        <th>Descripción</th>
        <th>Código</th>
        <th>Imagen</th>
        <th>Precio</th>
        <th>Cantidad</th>
    </tr>
        {{#each products.payload}}
    <tr>
            <td>{{title}}</td>
            <td>{{description}}</td>
            <td>{{code}}</td>
            <td>{{thumbnail}}</td>
            <td>{{price}}</td>
            <form id="formHeader" method="POST" action="/api/carts/{{cid}}/product/{{id}}">
                <td><input type="number" name="quantity" min="1" max="{{stock}}"></td>
                <td><button type="submit">Añadir al carrito</button></td>
            </form>
    </tr>
        {{/each}}
</table>

<p>Resultados: {{products.payload.length}}</p>
<a href="{{products.prevLink}}">Página {{products.prevPage}}  </a>
<p>Página {{products.page}}</p>
<br>
<a href="{{products.nextLink}}">Página {{products.nextPage}}  </a>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/products.js"></script>
